
@{
    ViewBag.Title = "GroupMembers";
}


<h2>Member list (@ViewBag.NoMembers):</h2>
@foreach (var member in ViewBag.Members)
{
    <div class="row">
        <div class="col-xs-2">
            <a href="/Profile/Index/@member.Id">@member.Name</a>
        </div>
        @if (@ViewBag.User == @member.Id)
        {
            <div class="col-xs-4">
                <a href="/RequestGroup/Leave/@ViewBag.Group.Id/@member.Id" class="btn btn-sm btn-danger">Leave</a>
            </div>
        }

        else if (@ViewBag.Admin == "Yes")
        {
            <div class="col-xs-4">
                <a href="/RequestGroup/Kick/@ViewBag.Group.Id/@member.Id" class="btn btn-sm btn-danger">Kick</a>
            </div>
        }

    </div>
    <br />
}

</br>

@if (@ViewBag.Admin == "Yes")
{
    <h2>Requests to join the group:</h2>
    foreach (var sender in ViewBag.requestsSenders)
    {
        <div class="row">
            <div class="col-xs-2">
                <a href="/Profile/Index/@sender.Id">@sender.Name</a>
            </div>
            <div class="col-xs-1">
                <a href="/RequestGroup/Accept/@ViewBag.Group.Id/@sender.Id" class="btn btn-sm full-width btn-primary">Accept</a>
            </div>
            <div class="col-xs-1">
                <a href="/RequestGroup/Refuse/@ViewBag.Group.Id/@sender.Id" class="btn btn-sm btn-danger">Refuse</a>
            </div>


        </div>
    }
    <br />

}
