@{ ViewBag.Title = "Index"; }

<h1>@ViewBag.Message</h1>
<h2>@ViewBag.Group.Name</h2>

<div class="row">
    @if (ViewBag.Admin == "true")
    {   <div class="col-xs-2">
            <a href="/Group/Edit/@ViewBag.Group.Id" class="btn btn-primary">Edit group</a>
        </div>

    }

    <div class="col-xs-2">
        <a href="/Group/GroupMembers/@ViewBag.Group.Id" class="btn btn-primary">Member list</a>
    </div>
    @if (@ViewBag.Member == "true")
    {

        <div class="col-xs-2">
            <a href="/Group/NewPost/@ViewBag.Group.Id" class="btn btn-primary">Add a new post</a>
        </div>
    }
    else if (@ViewBag.Member == "false")
    {
        <div class="col-xs-2">
            <a href="/RequestGroup/Send/@ViewBag.Group.Id" class="btn btn-primary">Join the group</a>
        </div>
    }
    else if (@ViewBag.Member == "pending")
    {
        <p>Your request to join the group is pending approval.</p>
    }
    <br />
    <br />
</div>
<div class="panel panel-default">
    <div class="panel-body">
        @foreach (var post in ViewBag.Posts)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-10"><a href="/Profile/Index/@post.User.Id" class="panel-title">@post.User.UserName</a></div>
                        <div class="col-xs-2"><p class="text-muted mb-1 post-date">@post.Date</p></div>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="">@post.Content</p>
                    <a href="/Group/ShowPost/@ViewBag.Group.Id/@post.Id" class="btn btn-sm full-width btn-primary">View full post</a>
                    <br />
                </div>
            </div>}
    </div>
</div>
<br />
@if (ViewBag.Admin == "true")
{
    <div>
        <form method="post" action="/Group/Delete/@ViewBag.Group.Id" id="delete-post-form" class="btn" style="vertical-align: middle">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button type="submit" class="btn btn-danger">Delete group</button>
        </form>
    </div>
}
